.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 29px 42px;
}
.span-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #545454;
}
.students {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .container-footer {
    flex-direction: row;
  }
  .span-text {
    font-size: 16px;
  }
}
.footer-icon {
  width: 14px;
  height: 14px;
}
.footer-container-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
.footer-container-btn:hover {
  color: #ca2525;
}


#logo-team {
  width: 50px;
  height: 50px;
}

#logo-team:hover {
  transform: scale(4);
  transition: 0.5s;
  filter: drop-shadow(0 10px 15px #ca2525);
}