*,
:before,
:after {
  box-sizing: border-box;
}
#header {
  background-image: url(../images/background.jpg),
    linear-gradient(314deg, #000 0%, #000 100%);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
}
.header-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 32px 0 32px;
}
.container {
  position: relative;
}
.header-division {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header-logo-icon {
  width: 54px;
  height: 54px;
  animation: animate360 3s infinite;
}
@keyframes animate360 {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.header-logo {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.header-items:nth-child(-n + 3) {
  margin-right: 8px;
}
.text-nav {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.btn-nav {
  background-color: #fee6;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.btn-nav .header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.btn-nav .nav-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
/* .btn-nav:hover .header-link {
  color: #ff6b08;
} */
.btn-nav:hover {
  background-color: #9d1d1d;
}
.container-form {
  display: flex;
  justify-content: center;
}
.home {
  padding: 14px 32px 14px 32px;
}
.library {
  padding: 14px 24px 14px 24px;
}
.sun,
.nav-icon {
  fill: currentColor;
}
.header-form {
  width: 320px;
  height: 47px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-input {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
}
#header-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.loop {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.btn {
  border: none;
  background: transparent;
}
.search-btn {
  margin-left: auto;
}
.icon-theme-mode {
  width: 25px;
  height: 25px;
}
/* Mobile */
@media only screen and (max-width: 768px) {
  #header {
    height: auto;
    padding: 16px;
  }
  .header-section {
    flex-direction: column;
    height: auto;
  }
  .container {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  .header-division {
    margin-bottom: 10px;
  }
  .header-logo {
    font-size: 24px;
  }
  .logo-name{
    display: none;
  }
  .header-logo-icon {
    width: 32px;
    height: 32px;
  }
  .header-list {
    flex-direction: column;
  }
  .header-items {
    margin-bottom: 10px;
  }
  .home {
    padding: 10px 15px 10px 15px;
  }
  .library {
    padding: 10px 12px 10px 12px;
  }
  .text-nav {
    font-size: 10px;
  }
  .header-form {
    width: 100%;
  }
  .header-form input {
    width: 100%;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  #header {
    height: auto;
    padding: 16px;
  }
  .header-section {
    flex-direction: row;
    align-items: center;
    height: auto;
  }
  .container {
    width: 768px;
    padding: 0 32px;
  }
  .header-division {
    margin-bottom: 10px;
  }
  .header-logo {
    font-size: 32px;
  }
  .logo-name{
    display: block;
  }
  .header-list {
    flex-direction: row;
  }
  .header-items {
    margin-right: 10px;
  }
  .header-form {
    width: 50%;
  }
  .header-form input {
    width: 80%;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  #header {
    height: 316px; 
    padding: 16px 32px;
  }
  .header-section {
    flex-direction: row; 
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 1280px;
  }
  .header-division {
    margin-bottom: 20px;
  }
  .header-logo {
    font-size: 64px;
  }
  .header-list {
    flex-direction: row; 
  }
  .header-items {
    margin-right: 16px;
  }
  .header-form {
    width: 336px; 
  .header-form input {
    width: 80%; 
  }
}
