#header {
  background-color: #000;
  display: flex;
  justify-content: center;
}

.header-container {
  background-image: url(../images/background-desktop@1x.jpg),
    linear-gradient(314deg, #000 0%, #000 100%);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
  .header-container {
    background-image: url(../images/background-mobile@2x.jpg),
      linear-gradient(314deg, #000 0%, #000 100%);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .header-container {
    background-image: url(../images/background-tablet@2x.jpg),
      linear-gradient(314deg, #000 0%, #000 100%);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .header-container {
    background-image: url(../images/background-desktop@2x.jpg),
      linear-gradient(314deg, #000 0%, #000 100%);
  }
}
.container-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 151px;
}

@media screen and (min-width: 768px) {
  .container-nav {
    margin-bottom: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .container-nav {
    margin-bottom: 151px;
  }
}
.header-nav {
  width: 100%;
  padding: 16px 32px;
}
.nav-left {
  display: flex;
}
.header-list {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .header-list {
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .header-list {
    gap: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    gap: 8px;
  }
}
.container-pos-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .container-pos-form {
    position: static;
    transform: none;
  }
  .header-form {
    position: relative;
  }
  #header-input {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    border-radius: 100px;
    background-color: #fee6;
    outline: none;
    border: none;
    text-align: center;
    color: #fff;
    /* position: relative; */
  }

  #header-input::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
  }
  .search-btn {
    margin-left: auto;
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }
  @media screen and (min-width: 320px) {
    .header-container {
      position: relative;
    }
  }
  .container-nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  }
  #header-input {
    padding: 10px 130px 10px 14px;
  }
}
@media screen and (min-width: 768px) {
  #header {
    position: relative;
  }
  #header-input {
    padding: 11px 64px 11px 16px;
  }
  .container-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .header-form {
    position: relative;
  }
}
.loop {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.btn-nav {
  background-color: #fee6;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
}
.btn-nav:hover,
.btn-nav:focus {
  background-color: #9d1d1d;
}
@media screen and (min-width: 320px) {
  .btn-nav {
    padding: 10px 22px;
  }
}
@media screen and (min-width: 768px) {
  .btn-nav {
    padding: 12px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-nav {
    padding: 14px 24px;
  }
}
.text-nav {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.toggle-theme {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-theme-mode {
  width: 25px;
  height: 25px;
}
.sun {
  fill: #f5f84d;
}
.moon {
  display: none;
}

.header-logo-icon {
  animation: animate360 3s infinite;
}
@keyframes animate360 {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.logo-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 320px) {
  .header-logo-icon {
    width: 32px;
    height: 32px;
  }
  .logo.name {
    font-size: 32px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 320px) {
  .header-logo-icon {
    width: 32px;
    height: 32px;
  }
  .logo-name {
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header-logo-icon {
    width: 40px;
    height: 41px;
  }
  .logo-name {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo-icon {
    width: 59px;
    height: 59px;
  }
  .logo-name {
    font-size: 64px;
  }
}
