:root {
    --font-family: 'Roboto', 'sans-serif';
    --white-color: #fff;
  };

  body {
    font-family: var(--font-family);
    margin: 0;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  main {
    width: 100vw;
    height: auto;
  }

@import './common';
@import './example';
@import './header.css';
@import './my-library.css';
@import './watched.css';
@import './queue.css';
@import './sign-in.css';
@import './theme-mode.css';
@import './cards.css';
@import './modal-cards.css';
@import './pagination.css';
@import './spinner.css';
@import './footer.css';
@import './modal-footer.css';
