.mondial-container {
  visibility: visible;
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: #0000008f;
  overflow: auto;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
}

/* .is-hidden {
  opacity: 0;
  visibility: hidden;
} */
.close-btn-mondial {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .is-open {
  visibility: hidden;
} */
.mondial-content {
  max-width: 650px;
  /* height: 580px; */
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .container-img {
  text-align: center;
} */
.container-img ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 50px;
  padding-bottom: 35px;
}
.developer-img {
  border-radius: 60px;
  height: 140px;
  width: 105px;
  margin-left: 30px;
}
.title-team img {
  width: 60px;
  height: 60px;
}
.title-team {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  align-items: center;
}
.team-name {
  padding-top: 10px;
  font-size: 20px;
}
.team-function {
  font-size: 17px;
  color: #ff6b08;
}
.social-icon {
  width: 25px;
  height: 25px;
  margin-left: 70px;
}
.team-item {
  width: 170px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .mondial-container {
    max-width: 300px;
  }
}
