.mondial-container {
  visibility: visible;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 20px 40px;
  transform: (-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 0.5s, cubic-bezier(0.47, 0, 0.745, 0.715);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 11;
  width: 50%;
  height: 50%;
  background-color: rgba(167, 88, 105, 0.377);
  overflow: auto;
  transition: opacity 0.15s linear;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.close-btn-mondial {
  width: 30px;
  height: 30px;
}
.is-open {
  visibility: hidden;
}
