@import './_common.scss';
#header {
  background-color: #000;
  display: flex;
  justify-content: center;
}
.header-container-lib {
  background-image: url(../images/library/background-lib-desktop@1x.png),
    linear-gradient(314deg, #000 0%, #000 100%);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
}
@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
  .header-container-lib {
    background-image: url(../images/library/background-lib-mobile@2x.png),
      linear-gradient(314deg, #000 0%, #000 100%);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .header-container-lib {
    background-image: url(../images/library/background-lib-tablet@2x.png),
      linear-gradient(314deg, #000 0%, #000 100%);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .header-container-lib {
    background-image: url(../images/library/background-lib-desktop@2x.png),
      linear-gradient(314deg, #000 0%, #000 100%);
  }
}
.container-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 151px;
}
@media screen and (min-width: 768px) {
  .container-nav {
    margin-bottom: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .container-nav {
    margin-bottom: 151px;
  }
}
.header-nav {
  width: 100%;
  padding: 16px 32px;
}
.nav-left {
  display: flex;
}
.header-list {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .header-list {
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .header-list {
    gap: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    gap: 8px;
  }
}
.container-pos-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .container-pos-form {
    position: static;
    transform: none;
  }
}
.header-form {
  position: relative;
}
#header-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  border-radius: 100px;
  background-color: #fee6;
  outline: none;
  border: none;
  text-align: center;
  color: #fff;
}
#header-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.search-btn {
  margin-left: auto;
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
@media screen and (min-width: 320px) {
  .header-container {
    position: relative;
  }
  .container-nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  }
  #header-input {
    padding: 10px 130px 10px 14px;
  }
}
@media screen and (min-width: 768px) {
  #header {
    position: relative;
  }
  #header-input {
    padding: 11px 64px 11px 16px;
  }
  .container-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .header-form {
    position: relative;
  }
}
.loop {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.btn-nav {
  background-color: #fee6;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
}
.btn-nav:hover,
.btn-nav:focus {
  background-color: #9d1d1d;
}
@media screen and (min-width: 320px) {
  .text-nav {
    padding: 10px 22px;
  }
}
@media screen and (min-width: 768px) {
  .text-nav {
    padding: 12px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .text-nav {
    padding: 14px 24px;
  }
}
.text-nav {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.toggle-theme {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-theme-mode {
  width: 25px;
  height: 25px;
}
.sun {
  fill: #f5f84d;
}
.moon {
  display: none;
}
.header-logo-icon {
  animation: animate360 3s infinite;
}
@keyframes animate360 {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.logo-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 320px) {
  .header-logo-icon {
    width: 32px;
    height: 32px;
  }
  .logo.name {
    font-size: 32px;
  }
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 320px) {
  .header-logo-icon {
    width: 32px;
    height: 32px;
  }
  .logo-name {
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header-logo-icon {
    width: 40px;
    height: 41px;
  }
  .logo-name {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo-icon {
    width: 59px;
    height: 59px;
  }
  .logo-name {
    font-size: 64px;
  }
}
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 29px 42px;
}
.span-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #545454;
}
.students {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .container-footer {
    flex-direction: row;
  }
  .span-text {
    font-size: 16px;
  }
}
.footer-icon {
  width: 14px;
  height: 14px;
}
.footer-container-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
.footer-container-btn:hover {
  color: #ca2525;
}
footer-container-btn:focus {
  color: #ca2525;
}

/* My library  */
.mylibrary-btns {
  display: flex;
  list-style: none;
  gap: 10px;
  max-width: 100%;
}
.watched-btn,
.queue-btn,
.clear-btn {
  /* padding: 12px 18px 12px; */
  color: #fff;
  border: none;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  cursor: pointer;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.watched-btn {
  padding: 10px 23px 10px 23px;
}
.queue-btn {
  padding: 10px 24px 10px 24px;
}

@media screen and (min-width: 1200px) {
  .watched-btn {
    padding: 14px 32px 14px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .queue-btn {
    padding: 14px 24px 14px 24px;
  }
}
.watched-btn:hover,
.watched-btn:focus,
.watched-btn:active {
  background-color: #9d1d1d;
}
.queue-btn:hover,
.queue-btn:focus,
.queue-btn:active {
  background-color: #9d1d1d;
}
.clear-btn:hover,
.clear-btn:focus,
.clear-btn:active {
  background-color: #9d1d1d;
}
.clear-btn {
  display: none;
}
/* MyLibrary-buttons */

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  grid-auto-rows: minmax(200px, auto);
  margin: 20px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .header-section {
    height: 222px;
  }
  .header-logo {
    font-size: 40px;
  }
  .header-logo-icon {
    width: 35px;
    height: 35px;
  }
}
/* Desktop */
@media screen and (min-width: 1280px) {
  .header-section {
    height: 316px;
  }
  .header-logo {
    font-size: 50px;
  }
  .header-logo-icon {
    width: 40px;
    height: 40px;
  }
}
.cards-container img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px;
}
.card-section {
  max-width: 95%;
  display: flex;
}
/*  Posters ls btn watched list  */
.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.watched-movies-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.watched-movies-list.inactive {
  display: none;
}
.container-posters-ls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poster-list-img {
  width: 380px;
  margin-bottom: 10px;
}
/*  Posters ls btn queue list  */
.hiddenContent-queue {
  display: none;
}
.hiddenContent {
  display: none;
}
@media screen and (min-width: 768px) {
  .watched-movies-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .poster-list-img {
    width: 340px;
  }
}

.library-container {
  display: block;
  text-align: center;
  padding-top: 20px;

}

.librarybtnlist {
  display: flex;
  justify-content: center;
}

.mylibrary-button {
  display: inline;
}

.watched-btn {
  background-color: #ca2525;
}

.queue-btn {
  background-color: #ca2525;
}
