.pagination-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-btn {
  width: 25px;
  height: 25px;
}
.disabled {
  display: none;
}
.page-number {
  font-size: 25px;
}
.page-number button {
  padding-top: 5px;
  border: none;
  background-color: #fff;
  gap: 5px;
  cursor: pointer;
}
