.pagination-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-btn {
  width: 25px;
  height: 25px;
}
.disabled {
  display: none;
}
.page-number {
  font-size: 15px;
}
.page-number button {
  padding-top: 5px;
  border: none;
  width: 40px;
  height: 40px;
  gap: 5px;
  cursor: pointer;
}

.active {
  background-color: rgb(238, 127, 1);
}
