@media screen and (min-width: 768px) {
  .queue-movies-list {
    flex-wrap: wrap;
  }
}

.queue-movies-list {
  justify-content: center;
  gap: 20px;
  display: flex;
}

.queue-movies-list.inactive {
  display: none;
}
