/* Light mode*/
body.light-mode {
  background-color: #fff;
  color: #000;
}
body.dark-mode .copyright {
  color: #000;
}
.light-mode .toggle-theme .moon {
  display: none;
}
.light-mode .toggle-theme .sun {
  display: block;
  fill: #e0e41b;
}

/* Dark mode */
body.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode .toggle-theme .sun {
  display: none;
}

.dark-mode .toggle-theme .moon {
  display: block;
  fill: #5469c7;
}
