:root {
  --font-family: 'Roboto', 'sans-serif';
}

*,
:before,
:after {
  box-sizing: border-box;
}
#header {
  width: 100vw;
  /* max-width: 1200px; */
  height: 316px;
  background-image: url(./images/abstract-background.jpg),
    linear-gradient(314deg, #000 0%, #000 100%);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-logo-icon {
  width: 54px;
  height: 54px;
}

.header-logo {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-nav {
  margin-bottom: 120px;
}
.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.header-list:nth-child(-n + 3) {
  margin-right: 8px;
}
.text-nav {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.nav-icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.header-link {
  text-decoration: none;
  font-family: var(--font-family);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-nav {
  border-radius: 100px;
  padding: 14px 32px;
  width: 99px;
  height: 42px;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .btn-nav,
  a:hover {
    background-color: #000;
    color: #fff;
  } */
/* .header-link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ff6b08;
    border-radius: 2px;
  } */
.sun,
.nav-icon,
.search-icon,
.search-icon {
  fill: currentColor;
}
.loop {
  width: 15px;
  height: 15px;
}
.btn {
  border: none;
  background: transparent;
}
.icon-theme-mode {
  width: 25px;
  height: 25px;
}
/* Light mode*/
body.light-mode {
  background-color: #fff;
  color: #000;
}
body.dark-mode .copyright {
  color: #000;
}
.light-mode .toggle-theme .moon {
  display: none;
}
.light-mode .toggle-theme .sun {
  display: block;
  fill: #fff;
}

/* Dark mode */
body.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode .toggle-theme .sun {
  display: none;
}

.dark-mode .toggle-theme .moon {
  display: block;
  fill: #e0e41b;
}
.header-form {
  width: 187px;
  height: 47px;
  border-radius: 100px;
  fill: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: #fff;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-input {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
}
#header-input::placeholder {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.search-btn {
  position: absolute;
  top: 40px;
  left: 65px;
}
.pagination-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-btn {
  width: 25px;
  height: 25px;
}
.footer {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}
.footer-icon {
  width: 14px;
  height: 14px;
}
.header-section {
  display: flex;
  margin-left: 50px;
}
