<main class="main">
  <div class="fetch-cards container">
    <div class="container-list-cards">
      <ul class="list-cards">
        <li class="list-cards-item"></li>
      </ul>
    </div>
    <div class="container-pagination">
      <button class="next-btn btn-pgn">
        <svg class="pagination-btn">
          <use xlink:href="./images/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="prev-btn btn-pgn">
        <svg class="pagination-btn">
          <use xlink:href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</main>
