<footer class="footer-section">
  <div class="container-footer container">
    <span class="copyright span-text"> © 2024 | All Rights Reserved |</span>
    <span class="students span-text"
      >Developed with
      <svg class="footer-icon">
        <use xlink:href="./images/symbol-defs.svg#icon-heart"></use>
      </svg>
      by
      <button
        type="button"
        class="footer-container-btn"
        data-modal-open-contacts
      >
        GoIT Students
      </button>
    </span>
  </div>
</footer>
