  <header id="header">
    <section class="header-container container">
      <div class="header-nav">
          <nav class="container-nav">
              <div class="nav-left">
                  <ul class="header-list">
                      <li class="header-items">
                          <form class="header-form">
                              <input
                                type="text"
                                name="searchMovie"
                                id="header-input"
                                autocomplete="off"
                                placeholder="Movie search"
                                onfocus="removePlaceholder()"
                                onblur="restorePlaceholder()"
                              />
                              <button type="submit" class="search-btn btn">
                                <svg class="loop">
                                  <use xlink:href="./images/symbol-defs.svg#icon-search"></use>
                                </svg>
                              </button>
                            </form>
                      </li>
                      <li class="header-items">
                        <button class="btn-nav home">
                          <a href="./index.html" class="header-link text-nav">
                            <svg class="nav-icon">
                              <use xlink:href="./images/symbol-defs.svg#icon-home"></use>
                            </svg>
                            Home
                          </a>
                        </button>
                      </li>
                      <li class="header-items">
                        <button class="btn-nav library">
                          <a href="./partials/my-library.html" class="header-link text-nav">
                            <svg class="nav-icon">
                              <use xlink:href="./images/symbol-defs.svg#icon-video-camera"></use>
                            </svg>
                            My library
                          </a>
                        </button>
                      </li>
              </div>
           <div class="nav-right">
              <ul class="header-list">
                  <li>
                      <button type="button" class="btn-nav text-nav btn-logIn">
                        <svg class="nav-icon">
                          <use xlink:href="./images/symbol-defs.svg#icon-user"></use>
                        </svg>Log in</button>
                  </li>
                  <li class="header-items theme-btn">
                      <button class="toggle-theme btn">
                        <svg class="icon-theme-mode">
                          <use
                            xlink:href="./images/symbol-defs.svg#icon-sun"
                            class="sun"
                          ></use>
                          <use
                            xlink:href="./images/symbol-defs.svg#icon-moon"
                            class="moon"
                          ></use>
                        </svg>
                      </button>
                    </li>
                  </ul>
           </div>     
          </nav>
          <div class="container-logo">
              <a href="./index.html" class="header-logo logo">
                <svg class="header-logo-icon">
                  <use xlink:href="./images/symbol-defs.svg#icon-film"></use>
                </svg>
                <span class="logo-name">Filmoteka</span>
              </a>
            </div>
        </div>
    </section>
  </header>
