<div class="is-hidden mondial-container" data-modal-js>
  <div class="mondial-content">
    <button class="close-btn-mondial" data-modal-close-js>
      <svg>
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="title-team">
      <img src="./images/framemasters.png" alt="GOIT" id="logo-team"/>
      <h2>frameMasters Team</h2>
    </div>
    <div class="container-img">
      <ul class="container-ul">
        <li class="team-item">
          <div style="background-image: url('./images/daniela.jpg');">
          </div>
          <p class="team-name">Daniela Badea</p>
          <p class="team-function">Teamlead</p>
          <a href="https://github.com/DanielaBadea">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div style="background-image: url('./images/andrei.jpg');">
          </div>
          <p class="team-name">Andrei Gabriel</p>
          <p class="team-function">Scrum master</p>
          <a href="https://github.com/djxsrouk">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div style="background-image: url('./images/ramona.jpg');">
          </div>
          <p class="team-name">Ramona Coblisan</p>
          <p class="team-function">Developer</p>
          <a href="https://github.com/DanielaBadea">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div style="background-image: url('./images/ionut.jpg');">
          </div>
          <p class="team-name">Cursaru Ionut</p>
          <p class="team-function">Developer</p>
          <a href="https://github.com/damian-ionut">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div style="background-image: url('./images/mada.jpg');">
          </div>
          <p class="team-name">Madalina Dragomir</p>
          <p class="team-function">Developer</p>
          <a href="https://github.com/Madadrg">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div style="background-image: url('./images/marian.jpg');">
          </div>
          <p class="team-name">Deiciuc Marian</p>
          <p class="team-function">Developer</p>
          <a href="https://github.com/Marian13O">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
