<div class="is-hidden mondial-container" data-modal-js>
  <div class="mondial-content">
    <button class="close-btn-mondial" data-modal-close-js>
      <svg>
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="title-team">
      <img src="./images/GOIT.jpeg" alt="GOIT" />
      <h2>TEAM_THREE</h2>
    </div>
    <div class="container-img">
      <ul class="container-ul">
        <li class="team-item">
          <div>
            <img class="developer-img" src="./images/andrei.jpg" alt="andrei" />
          </div>
          <p class="team-name">Daniela Badea</p>
          <p class="team-function">Teamlead</p>
          <a href="https://github.com/DanielaBadea">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div>
            <img class="developer-img" src="./images/andrei.jpg" alt="andrei" />
          </div>
          <p class="team-name">Andrei Gabriel</p>
          <p class="team-function">Scrum master</p>
          <a href="https://github.com/djxsrouk">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div>
            <img class="developer-img" src="./images/ramona.jpg" alt="andrei" />
          </div>
          <p class="team-name">Ramona Coblisan</p>
          <p class="team-function">Developer</p>
          <a href="https://github.com/DanielaBadea">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div>
            <img class="developer-img" src="./images/Ionut.jpg" alt="andrei" />
          </div>
          <p class="team-name">Cursaru Ionut</p>
          <p class="team-function">Developer</p>
          <a href="https://github.com/damian-ionut">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div>
            <img class="developer-img" src="./images/mada.jpg" alt="andrei" />
          </div>
          <p class="team-name">Madalina Dragomir</p>
          <p class="team-function">Developer</p>
          <a href="https://github.com/Madadrg">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
        <li class="team-item">
          <div>
            <img class="developer-img" src="./images/marian.jpg" alt="andrei" />
          </div>
          <p class="team-name">Deiciuc Marian</p>
          <p class="team-function">Developer</p>
          <a href="https://github.com/Marian13O">
            <img class="social-icon" src="./images/github.jpeg" alt="github" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
