<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>library</title>
    <!-- <link rel="icon" type="image/png" href="./images/icon-title.png" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./sass/my-library.scss" />

  </head>
  <body>
    <header id="header">
      <section class="header-container header-container-lib">
        <div class="header-nav">
            <nav class="container-nav">
                <div class="nav-left">
                    <ul class="header-list">
                        <li class="header-items">
                          <button class="btn-nav home">
                            <a href="./index.html" class="header-link text-nav ">
                              <svg class="nav-icon">
                                <use xlink:href="./images/symbol-defs.svg#icon-home"></use>
                              </svg>
                              Home
                            </a>
                          </button>
                        </li>
                        <li class="header-items">
                          <button class="btn-nav library">
                            <a href="./my-library.html" class="header-link text-nav">
                              <svg class="nav-icon">
                                <use xlink:href="./images/symbol-defs.svg#icon-video-camera"></use>
                              </svg>
                              My library
                            </a>
                          </button>
                        </li>
                </div>
             <div class="nav-right">
                <ul class="header-list">
                  <li class="header-items mylibrary-btns">
                   <button id="watchedButton" class="button btn-nav watched-btn">WATCHED</button>
                  </li>
                  <li class="header-items btn-nav mylibrary-btns">
                  <button id="queueButton" class="button queue-btn">QUEUE</button>
                  </li>
                  <li class="header-items clear-btn-container">
                    <button id = "clearButton" class="clear-btn btn-nav">CLEAR WATCHED LIST</button>
                  </li>
                    <li class="header-items theme-btn">
                        <button class="toggle-theme btn">
                          <svg class="icon-theme-mode">
                            <use
                              xlink:href="./images/symbol-defs.svg#icon-sun"
                              class="sun"
                            ></use>
                            <use
                              xlink:href="./images/symbol-defs.svg#icon-moon"
                              class="moon"
                            ></use>
                          </svg>
                        </button>
                      </li>
                    </ul>
             </div>
            </nav>
            <div class="container-logo">
                <a href="./index.html" class="header-logo logo">
                  <svg class="header-logo-icon">
                    <use xlink:href="./images/symbol-defs.svg#icon-film"></use>
                  </svg>
                  <span class="logo-name">Filmoteka</span>
                </a>
              </div>
          </div>
        </div>
      </section>
    </header>
    <section class="taggle-section-lib">
      <!-- Posters ls btn watched list -->
      <div class="cards-section">
        <div class="container">
          <ul class="watched-movies-list library-movies-list"></ul>
        </div>
      </div>
      <!-- Posters ls btn queue list -->
      <div class="cards-section">
        <div class="container">
          <ul class="queue-movies-list library-movies-list">
            <!-- <img
              class="hiddenContent-queue"
              src="./images/library/queue/missingMovies.jpg"
              alt="Missing movies"
            /> -->
          </ul>
        </div>
      </div>
      <div class="modal-backdrop">
        <div class="modal" data-id=""></div>
      </div>
      </div>
    </section>

    <include src="./partials/footer.html"></include>
    <include src="./partials/modal-footer.html"></include>
    <script defer type="module" src="../index.js"></script>
   
  </body>
</html>
