<header id="header">
  <section class="header-section">
    <div class="container header-container">
      <div class="header-division">
        <a href="#" class="header-logo logo">
          <svg class="header-logo-icon">
            <use xlink:href="./symbol-defs.svg#icon-film"></use>
          </svg>
          Filmoteka
        </a>
        <nav class="header-nav">
          <ul class="header-list">
            <li class="header-items">
              <button class="btn-nav home">
                <a href="#" class="header-link text-nav">
                  <svg class="nav-icon">
                    <use xlink:href="./symbol-defs.svg#icon-home"></use>
                  </svg>
                  Home
                </a>
              </button>
            </li>
            <li class="header-items">
              <button class="btn-nav library">
                <a href="#" class="header-link text-nav">
                  <svg class="nav-icon">
                    <use xlink:href="./symbol-defs.svg#icon-video-camera"></use>
                  </svg>
                  My library
                </a>
              </button>
            </li>
            <li class="header-items theme-btn">
              <button class="toggle-theme btn">
                <svg class="icon-theme-mode">
                  <use
                    xlink:href="./symbol-defs.svg#icon-sun"
                    class="sun"
                  ></use>
                  <use
                    xlink:href="./symbol-defs.svg#icon-moon"
                    class="moon"
                  ></use>
                </svg>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</header>